.nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dedede;
    padding: 15px 0;
    align-items: center;
    width: 97%;
    margin: 0 auto;
}

.nav .left {
    display: flex;
    align-items: center;
}

.nav .left .menu {
    display: flex;
    margin-left: 40px;
    list-style: none;
}

.nav .logo {
    font-weight: bold;
    font-size: 20px;
}